{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}

<h1>{{ 'templates.404.subtext' | t }}</h1>

<p>
  {{ 'templates.404.title' | t }}
</p>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
