<div class="carousel" data-flickity='{
    "wrapAround": true,
    "draggable": false,
    "autoPlay": 3000,
    "adaptiveHeight": true
  }'>
  {% for block in section.blocks %}
    <div class="carousel-cell" {{ block.shopify_attributes }} style="height: calc(1000vw / {{ block.settings.aspect_ratio }})">
      {{ block.settings.products_image | image_url: width: 1920 | image_tag }}
    </div>
  {% endfor %}
</div>

<style>
  .carousel {
    margin-bottom: 100px;
  }

  .carousel:not(.flickity-enabled) {
    display: flex;
  }

  .carousel-cell {
    width: 100%;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }

  .carousel:not(.flickity-enabled) .carousel-cell:not(:first-of-type) {
    display: none;
  }

  .carousel-cell img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .flickity-viewport {
    transition: height 0.25s;
  }
</style>

{% schema %}
  {
    "name": "Slider with tooltips",
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "limit": 10,
        "settings": [
          {
            "type": "image_picker",
            "id": "products_image",
            "label": "Image of group of products"
          },
          {
            "type": "number",
            "id": "aspect_ratio",
            "label": "Aspect ratio of featured image",
            "default": 27
          }
        ]
      }
    ]
  }
{% endschema %}