<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" defer="defer"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<div class="carousel" data-flickity='{
    "wrapAround": true,
    "draggable": false,
    "autoPlay": 1500
  }'>
  {% for block in section.blocks %}
    <div
      class="carousel-cell"
      style="background-image: 
        url('{{ block.settings.product_image | image_url: width: 1920, height: 1920 }}')"
      {{ block.shopify_attributes }}>sex</div>
  {% endfor %}
</div>

<style>
  .carousel-cell {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    background: #8C8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
</style>

{% schema %}
  {
    "name": "Slider with tooltips",
    "blocks": [
      {
        "type": "products_picture",
        "name": "Products",
        "limit": 10,
        "settings": [
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Image of group of products"
          }
        ]
      }
    ]
  }
{% endschema %}