{{ 'flickity.css' | asset_url | stylesheet_tag }}

<div class="main-carousel" data-flickity='{ 
    "cellAlign": "left", 
    "contain": true, 
    "draggable": false,
  }'>
  {% for product in section.settings.collection.products %}
    <div class="carousel-cell">
      product.
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Slider with tooltips",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Which products to be shown"
      }
    ]
  }
{% endschema %}