<div class="carousel" data-flickity='{
    "wrapAround": true,
    "draggable": false,
    "autoPlay": 3000
  }'>
  {% for block in section.blocks %}
    <div class="carousel-cell" {{ block.shopify_attributes }}>
      {{ block.settings.product_image | image_url: width: 1920 | image_tag }}
    </div>
  {% endfor %}
</div>

<style>
  .carousel {
    height: 600px;
  }

  .carousel-cell {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }

  .carousel-cell img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
</style>

{% schema %}
  {
    "name": "Slider with tooltips",
    "blocks": [
      {
        "type": "products_picture",
        "name": "Products",
        "limit": 10,
        "settings": [
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Image of group of products"
          }
        ]
      }
    ]
  }
{% endschema %}